<html>
  <head> 
    <title>教室</title> 
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/black_board/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
  </head> 
  <body><%= yield %></body>
</html>